<h2><%= @user.email %> 様</h2>

<p>Powder Hunterからの最新のパウダー情報です！</p>
<p>昨日までパウダー予報がなかったスキー場で、新たにパウダーチャンスが到来しました。</p>

<ul>
  <li><strong>スキー場:</strong> <%= @resort.name_ja.presence || @resort.name_en %></li>
  <li><strong>パウダー到来日:</strong> <%= @powder_date %></li>
  <li><strong>パウダー指数:</strong> <%= @index_val %> / 100</li>
</ul>

<p>詳細は <%= link_to 'Powder Hunter', "http://localhost:3000/resorts/#{@resort.id}" %> をご確認ください！</p>

<hr>
<p><small>Powder Hunter 運営</small></p>
